.img-wrap {
  position:relative;
}

.img-description-layer {
  position:absolute;
  top:0;
  background:#35478C;
  visibility:hidden;
  opacity:0;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:opacity .2s,visibility .2s;
}

.img-wrap:hover .img-description-layer {
  visibility:visible;
  opacity:1;
}

.img-description {
  transition:.2s;
}

