.jumbotron {
  color:#d6e4f9;
  background-color:#7fb2f0;
  margin:0px 0px 10px;
  box-shadow:4px 0px 6px rgba(0,0,0,0.2);
  padding:10px;
}

.entry-other {
  padding:15px;
}

.entry-main {
  padding:20px 0px 20px 0px;
  background-color:#d6e4f9;
  margin-bottom:30px;
  box-shadow:0 4px 4px rgba(0,0,0,0.2);
}

.links-main {
  padding:10px 15px 0px 10px;
}

.links-main a {
  margin:0px 10px;
}

.footer-copyright p {
  margin:10px 0px;
}

footer {
  background-color:#7fb2f0;
}

body {
  background-color:#f8f8f8;
}

.img-responsive {
  box-shadow:0px 4px 6px rgba(0,0,0,0.2);
  border-radius:4px;
}

.short-line {
  width:95px;
  height:2px;
  background-color:#35478c;
  margin:15px 0px 15px;
}

.row.contact-section {
  background-color:#35478c;
}

.main-button {
  box-shadow:0 4px 6px rgba(0,0,0,0.2);
  margin:0 15px;
}

